/* -------------------- Basic HTML tags -------------------- */
body {
	font: 12px/1.5 "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #444444;
	background-color: #f6f6f6;
	}

a:focus {
	outline: 1px dotted invert;
	}

hr {
	border-color: #ccc;
	border-style: solid;
	border-width: 1px 0 0;
	clear: both;
	height: 0;
	}


h1 {
	font-size: 30px;
	letter-spacing: -1.5px;
	}

h2 {
	font-size: 24px;
	letter-spacing: -1px;
	}

h3 {
	font-size: 18px;
	}

h4 {
	font-size: 14px;
	}

h5 {
	font-size: 12px;
	}

h6 {
	font-size: 10px;
	}

ol {
	list-style: decimal;
	list-style-position: inside;
}

ul.bullets {
	list-style: disc;
	list-style-position: inside;
	}

ul.bullets li {
	margin-left: 20px;
	margin-bottom: 5px;
	}

p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset {
	margin-bottom: 15px;
	}

a, 
a:visited { 
	color:#0063be; text-decoration: none; 
	}

a:hover, a:active { 
	text-decoration: underline; 
	}

h1 a, h1 a:visited, h2 a, h2 a:visited, h3 a, h3 a:visited, h4 a, h4 a:visited, h5 a, h5 a:visited, h6 a, h6 a:visited { 
	color: #444444; 
	}

h1 a:hover, h1 a:active, h2 a:hover, h2 a:active, h3 a:hover, h3 a:active, h4 a:hover, h4 a:active, h5 a:hover, h5 a:active, h6 a:hover, h6 a:active { 
	color:#0063be; 
	}

/* --------------------  Custom general classes -------------------- */
.align-left    { text-align: left; }	
.align-right   { text-align: right; }	
.align-center  { text-align: center; }	
.align-justify { text-align: justify; }	
.float-left    { float: left; }	
.float-right   { float: right; }
.bottom-spacing { margin-bottom: 20px; }

/* -------------------- Page elements -------------------- */
#header { 
	margin-bottom: 20px; 
	}

#header-status {
	background: #000000; 
	padding: 0; 
	color: #aaaaaa;
	}
	
#text-invitation {
	display: block; 
	float: left; 
	padding: 9px 0 11px 0;
	}
	
#message-notification span { 
	color: #444444; 
	margin-right: 15px; 
	text-align: center; 
	display: block; 
	float: left; 
	width: 32px; 
	}
	
#message-notification a:hover, 
#message-notification a:active { 
	color: #ffffff; 
	}
	
a#logout:hover, 
a#logout:active { 
	color: #ffffff; 
	}
	
#subnav ul { 
	list-style: none;
	margin: 0;
	padding: 0;
	}
	
#subnav ul li { 
	float: left; 
	margin: 0 18px 0 0; 
	padding: 0;
	}
	
#subnav ul a, 
#subnav ul a:visited { 
	display:block;
	float: left;
	color:#0063be; 
	font-size: 14px; 
	padding: 9px 0 0 0;
	text-decoration: none; 
	}
	
#subnav ul a:hover, 
#subnav ul a:active { 
	text-decoration: underline; 
	}

#footer {
	padding: 0; 
	color: #aaaaaa; 
	padding: 12px 0 15px 0; 
	margin-top: 30px; 
	border-top: 1px solid #cccccc;
	position:relative;
	}

/* -------------------- Nav tabs (sliding door technique) -------------------- */
ul#nav { 
	float: left; 
	margin-top: 60px; 
	list-style: none; 
	font-size:14px; 
	margin-bottom: 0;	
	}

ul#nav li a:hover {
	padding:8px 15px 5px 6px;
	}

/* Percentage padding in the module dependant on the cell width */
.grid_1 div.module div.module-body  { padding: 20px 8% 20px 8%; float: left; width: 84%; }
.grid_2 div.module div.module-body  { padding: 20px 7% 20px 7%; float: left; width: 86%; }
.grid_3 div.module div.module-body  { padding: 20px 6% 20px 6%; float: left; width: 88%; }
.grid_4 div.module div.module-body  { padding: 20px 5% 20px 5%; float: left; width: 90%; }
.grid_5 div.module div.module-body  { padding: 20px 4% 20px 4%; float: left; width: 92%; }
.grid_6 div.module div.module-body  { padding: 20px 3% 20px 3%; float: left; width: 94%; }
.grid_7 div.module div.module-body  { padding: 20px 2.75% 20px  2.75%; float: left; width: 94.5%; }
.grid_8 div.module div.module-body  { padding: 20px 2.5% 20px 2.5%; float: left; width: 95%; }
.grid_9 div.module div.module-body  { padding: 20px 2.25% 20px 2.25%; float: left; width: 95.5%; }
.grid_10 div.module div.module-body { padding: 20px 2% 20px 2%; float: left; width: 96%; }
.grid_11 div.module div.module-body { padding: 20px 1.75% 20px 1.75%; float: left; width: 96.5%; }
.grid_12 div.module div.module-body { padding: 20px 1.5% 20px 1.5%; float: left; width: 97%; }

div.module table {
	width: 100%; 
	margin: 0 0 10px 0;
	border-left: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;
	border-top: 1px solid #d9d9d9;
	border-right: 1px solid #d9d9d9;
}

div.module table.tr {
	border-collapse: separate;
	border-right: 1px solid #aaaaaa;
	border-left: 1px solid #aaaaaa;
}

div.module table th {
	background-color: #eeeeee;
	color: #444444;
	padding: 5px;
	text-align: left;
	border-right: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;
}
	
div.module table td {
	background-color: #ffffff;
	padding: 5px;;
	border-right: 1px solid #d9d9d9;
}

div.module table tr.odd td { /* You can use this style if you want to do zebra-colored tables with other technique than Table Sorter script used here */
	background-color: #f1f5fa;
}
	
.table-apply {
	width: 40%; float: right; text-align: right; margin-right: 10px;
}

/* -------------------- Pager -------------------- */
.pager {
	display: block; padding: 0px 10px 10px 10px;  width: 60%; float: left;
}

.pager .first,
.pager .prev,
.pager .next,
.pager .last {
	margin-bottom: -2px;
}

/* -------------------- Button (sliding door technique) -------------------- */
a.button:hover { 
	background-position: bottom right; color:#0063be; 
}

a.button:hover span{
	background-position: bottom left;
	color:#0063be;
}

/* -------------------- Pagination -------------------- */
.pagination { margin-bottom: 20px; float: right;  }
.pagination a.button { margin-right: 10px; }
.pagination a.last { margin-right: 0; }
.pagination .numbers { float: left; padding-top: 3px; margin-right: 15px; }
.pagination .numbers span { padding: 0 5px 0 5px; } 
.pagination .current { font-weight: bold; }

/* -------------------- Forms -------------------- */
fieldset {
	margin-top: 15px; 
	margin-bottom: 15px; 
}
	
legend {
	margin-bottom: 10px; 
	display: block; 
}
	
label { 
	display: block; 
	margin-bottom: 5px; 
}
	
.input-short,
.input-medium,
.input-long { 
	 background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 3px;
    font-size: 11px;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    padding: 5px 3px;
	width: 150px;
}
	
select { 
	 border: 1px solid #DDDDDD;
    border-radius: 3px;
	width: 150px;
}
	
textarea { 
	border: 1px solid #b3b3b3;
}
	
.input-short { 
	width: 25% 
}
	
.input-medium { 
	width: 50% 
}
	
.input-long { 
	width: 75% 
}

/* -------------------- Text input and select input notifications -------------------- */
.notification-input {
	background:10px 50% no-repeat;
	margin: 0 0 0 5px;
	padding:5px 0 5px 32px;
	font-size: 12px;
}

/* --------------------  Boxed notifications -------------------- */
.notification {
	display: block;
	padding: 20px 20px 20px 45px;
	border: 1px solid;
	margin-bottom: 20px;
	background-repeat: no-repeat;
	background-position: 20px 20px;
}

/* -------------------- Category list -------------------- */
a.removable, 
a.removable:visited {
	padding: 5px 18px 5px 0px;
}

/* -------------------- To-do list -------------------- */
a.checkable, 
a.checkable:visited {
	padding: 5px 18px 5px 0px;
}
	
a.completed, 
a.completed:visited {
	color: #aaaaaa;
}

/* -------------------- Messages -------------------- */
.separated { 
	border-top: 1px solid #cccccc; 
	padding-top: 15px; 
}
	
#p-messages {
	padding: 20px;
}

/* -------------------- Dashboard -------------------- */	
a.dashboard-module:hover, 
a.dashboard-module:active { 
	background-position: bottom left; 
	text-decoration: none; 
	color:#0063be; 
}

a.dashboard-module img { 
	margin-top: 20px; 
}
	
a.dashboard-module span { 
	margin-top: 10px; 
	display: block; 
}
.error{ color:#FF0000
}
.bold_text {
    color: #000000;
    font-family: tahoma,verdana,arial,helvetica,sans-serif;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
}